
$background_color: white;
$crossword_baground_color: #241330;
$crossword_empty_cells_color: #322838;

$description_card_background_color: #f6f8fa;
$description_card_border_color: #d0d7de;
$description_card_color: #24292f;
