


#crossword {
      display: grid;
      grid-gap: 2px;
      background: #241330;
      padding: 0;
      overflow: hidden;
      border: 2px solid #241330;
      border-radius: 6px;
      margin-right: 32px;
      margin-bottom: 16px;
}