


.description-cards {
      background: $description_card_background_color;
      padding: 16px;
      border-radius: 10px;
      width: auto;
      height: min-content;
      border: 1px solid $description_card_border_color;
      color: $description_card_color;
}