

body {
      padding: 0;
      margin: 0;
      font-family: cursive;
      /*background-color: #dcd0ff;*/
}

.container {
      margin: 30px;
}

input[type="text"] {
      text-align: center;
      font-family: cursive;
      border-width: 1px;

      border-radius: 20%;
}

span {
      font-weight: normal;
      font-size: 12px;
      color: blue;
}

input:disabled {
      /*background-color: rgba(186,85,211,0.7);*/
      background-color: rgba(255,239,0,0.7);
      border-color: black;
      border-width: 1px;

      border-radius: 20%;
}

ol {
      color: black;
      width: 500px;
      margin-left: 30px;
      /*line-height: 50px;*/
}

li {
      margin-bottom: 12px;
}